URxvt*saveLines: 3000
urxvt.font: xft:PragmataPro:size=8:antialias=false:hinting=true
urxvt.boldFont: xft:PragmataPro:size=8:antialias=false:hinting=true
URxvt.letterSpace: -1

!urxvt*depth: 16
Xft.autohinting: 1
Xft.antialias: false
Xft.hinting: true

Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*geometry: 		70x20
URxvt*scrollBar: 		false
URxvt*loginShell: 		true

urxvt*perl-ext-common:	default,clipboard,osc-xterm-clipboard
urxvt*urlLauncher:      /usr/bin/firefox
urxvt*matcher.button:	1
URxvt.url-select.underline: 	true

XTerm*locale: true
Xterm*metaSendsEscape: true
XTerm*allowBoldFonts: true

urxvt*shading:    5
urxvt*transparent:false

URxvt.internalBorder:		4
URxvt.borderColor:		#14101C

URxvt*highlightColor: #232323
URxvt*highlightTextColor: #586479

urxvt.fading: 0
urxvt.scrollstyle: plain
urxvt.scrollBar: false
urxvt.scrollBar_floating: true
urxvt.scrollBar_right: true

urxvt.termName: rxvt-256color

!colorscheme

#include "/home/shit-twins/colourschemes/twily2"
